# macOS system files
.DS_Store

# JetBrains
.idea
*.iml

# VSCode
.vscode

# VIM
*.swp

# logging
*.log*
logs

# Dependency directories
node_modules

# Build folders
dist
build

# Temporary files
tmp
*.tmp
tmp.*
*.tmp.*
